* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif
}

.header {
    display: flex;
    flex-direction: row;
    padding: 30px;
    border-bottom: rgba(93, 80, 80, 0.414)  solid 3px;
    align-items: center;
}

.header nav {
    float: right;
    margin-left: 75%;
}

#backbutton {
    margin: 0px 15px;
}

main {
    display: flex;
    flex-direction: column;
}

/*Styling for the blog section*/
#blogposts {
    padding: 10px;
}

/*Styling for the blogs that get posted to the page*/
#blogposts div {
    border: rgba(93, 80, 80, 0.414)  3px solid;
    margin: 30px;
    padding: 20px;
}